@media(max-width:767px) {
    
    .how-works-item:first-child:before {
        display: block !important;
    }
    
    .how-works-item:last-child:after {
        display: block !important;
    }

    .order-1{
        order: 2;
    }

    .order-2{
        order: 1;
    }
    .bottom-pattern {
        position: absolute;
        bottom: -10px;
    }
}