@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    outline: none;
}
   
/* 
.container{
    max-width: 1140px !important;
} */


body{
    font-family: 'Nunito', sans-serif !important;
    font-size: 18px !important;
    line-height: 30px !important;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Poppins', sans-serif;
}

p{
    color: var(--dark) !important;  
}

ul ,ol ,li{
    padding: 0  !important;
    margin: 0 !important;
}


:root{
    --primary:#346afe;
    --dark:#677291;
    --pad100:100px;
    --padt:100px;
    --padb:100px;
}

.space100{
    padding:100px 0;
}



.fs-18{
    font-size: 18px !important;
}

.fs-16{
    font-size: 16px;
}

/* 
    .scrollup {
        background: #346AFE;
        border-radius: 2px;
        bottom: 30px;
        color: #fff;
        cursor: pointer;
        float: right;
        font-size: 20px;
        height: 40px;
        line-height: 35px;
        position: fixed;
        right: 50px;
        text-align: center;
        width: 38px;
        z-index: 9;
        border: 1px solid transparent;
        transition: all 0.3s ease-in-out;
    }
   

 */


 .fix{
	height:80px;
	width:80px;
	background-color:rgb(0, 0, 0);
	text-decoration:none;
	display:block;
	border-radius:100%;
    text-align:center;
	line-height:80px;
    font-size:30px;
	position:fixed;
    right:15px;
    z-index: 5;
    bottom:10px;	    	 
}





header{
    background: rgba(238, 244, 245, 0.7);
}

header .navbar-nav .nav-link{
    color: #050404!important;
}

header .navbar-nav .nav-link:hover{
    color: #4285F4!important;
}

header ul li a::before, header ul li a:after{
    width: 0px ;
    height: 1px !important;
    content: "";
    position: absolute;
    background-color:#4285F4;
    transition: all 0.5s ;
}

header ul li a:after{
    top:5px;
    left: 0;
}

header ul li a::before{
    bottom: 5px;
    right: 0px;
}
header ul li a:hover::after, header ul li a:hover::before{
    width:15px;
}





.bg-home{
    background-image: url(../images/bg-light-about.png);
    background-position: bottom;
    background-size:cover;
    background-repeat: no-repeat;
    background-color: #DEEEFC;
}
.home{
     padding-top: var(--padt);
     padding-bottom:50px ;
}
.home h2{
    font-size: 45px ;
    font-weight: 600;
    margin-bottom:30px;
}
.home p{
    margin-bottom: 50px;
    color: var(--dark);
}
.home a{
    padding:15px 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}


/* section-title */

.section-title h2{
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 40px;
}

.section-title span{
    color: var(--primary)  !important;
}
.section-title p{
    margin-top: 15px;
}
   
.lines{
    position: relative;
    width:5px;
    height: 2px;
    background-color: #4285F4;
    margin: auto;
}

.lines::before ,.lines::after{
    width: 30px;
    height: 2px;
    content: "";
    position: absolute;
    background-color:  #4285F4;

}
.lines::before{
    right: -34px;;
}
.lines::after{
    left:-34px;
}









.single-feature-item{
    padding: 25px;
    border: 1px solid #ececec;
    border-radius: 3px;
    transition: all 0.3s ease-in-out; 
}

.media{
    display: flex;
    align-items: flex-start;

}

.media:hover{
    box-shadow:4px 4px 30px rgba(0, 0, 0, 0.1);
}

.media-body h5{
    font-size: 18px;
    font-weight: 600;
}
.single-feature-item .feature-icon {
    margin-right: 15px;
    font-size: 35px;
    line-height: 45px;
    color: #4285F4;

}
.about{
    padding: 30px;
    border-bottom: 3px solid #346afe;
    transition: all 0.3s ease 0s;
    margin: 20px 0;
}


.about .media-icon{
    width: 60px;
    height: 60px;
}

  .about:hover .media-icon i{
    background-color: #346afe;
    color:#fff;
    box-shadow: 0px 0px 0px 8px rgba(52, 106, 254, 0.3);
}

.about:hover{
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.about .media-icon i{
    padding: 15px;
    font-size: 35px;
    border: 1px dashed #4285F4;
    border-radius: 5px;
    color: #4285F4;
    transition: all 0.3s ease-in-out;
}

.about h2{
        font-size: 18px;  
    }
    
.about p{
        font-size: 16px;  
    }

.bg-light-gray {
        background: #DEEEFC;
    }







    .bg-parallax {
        background-image: url(../images/special-feature-bg.jpg);
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        background-color: rgba(0, 0, 0, 0.9);
        position: relative;
    }

     .color{
    background-color: rgba(34, 45, 57 , 0.8);
}    

.video-bg h2, .bg-parallax h2{
        font-size: 45px;
        font-weight: 600;
        padding-bottom: 30px;
    }

    .video-bg p, .bg-parallax p{
        padding-bottom: 50px;
    }

    .bg-parallax .btn{
            padding: 15px 30px !important;
            font-size: 18px;
            font-weight: 600;
    }

    .bg-parallax .btn-dark{
        background-color:#677294;
        }
     .bottom-pattern{
        position: absolute;
        bottom: -4px;
    }


    .single-page-pakage{
        background-color: #4285F4;
          padding: 15px 0;
          border-radius: 5px;
          box-shadow: 5px 5px  10px rgba(0, 0, 0, 0.1);

    }
     
    
    .single-page-pakage:hover{
        background-color: #4285F4;
          padding: 15px 0;
          box-shadow: 10px 10px  10px rgba(0, 0, 0, 0.1);
    }

   
hr{
    margin: 10px 0 !important;
}


    .single-page-pakage h3 span{
        font-size: 24px;
    }

    .single-page-pakage h2 {
        font-size: 24px;
        font-weight: 600;
        color:#ffffff;
        
    }
    .single-page-pakage h3 {
        padding: 10px;
        font-size: 16px;
        font-weight: 600;
        color:#ffffff;
        
    }



    .how-works-item .icon-outer {
        display: inline-table;
        width: 90px;
        height: 90px;
        border-radius: 5px;
        position: relative;
        border-radius: 5px;
        transition: 300ms;
        background-color: #ffffff;
        color: #346afe;
        line-height: 90px;
        font-size: 40px;
        margin-bottom: 25px;
        border: 1px dashed #346afe;
        z-index: 1;
    }

    .how-works-item:hover .icon-outer{
        background-color: #346afe;
        color: #ffffff;
    }


    .how-works-item{
        position: relative;
    }

    .how-works-item:after{
        content:"";
        width: 50%;
        height: 1px;
        background-color: #0d3559  !important;
        position: absolute;
        top: 50px;
        left:50%;
        z-index:0 ;
   
    }
    .how-works-item:before {
        content:"";
        width: 50%;
        height: 1px;
        background-color: #0d3559  !important;
        position: absolute;
        top: 50px;
        right: 50%;
        z-index: 0;
    }
   
    .how-works-item:first-child:before {
        display: none !important;
    }
    
    .how-works-item:last-child:after {
        display: none !important;
    }

    .how-works-item h2{
        font-size: 22px !important;
        font-weight: 400;
        margin-bottom: 15px;
    }






    .counter-bg{
        background-image: url(../images/counter-bg.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        position: relative;
    }
    .counter{
        margin: 20px  0;

    }
    .counter i{
           font-size: 54px;
    }

    .counter h3{
       
        color: #ffffff;
        font-size: 40px;
        font-weight: 300;   
     }

     .counter h3{
         padding-top: 10px;
     }


     .clients-feedback{
         border: 1px solid #ebe5e5;
     }

     .clients-feedback img{
         width: 80px;
        margin: 5px;
        border:5px solid  rgba(66, 133, 244, 0.2);
 
     }

     .clients-feedback h6{
        margin: 0px;
        font-size: 18px;
        font-weight: 600;
    }

     .clients-feedback p:last-child {
         font-size: 14px;
     }
    
     .from{
         background-color: #ffffff;
         padding:25px;
     }
         
    .from .btn{
             padding: 12px 20px;
         }
     
     .from h4{
         margin-bottom: 15px;
     }

     
 
     .from input placeholder{
         font-size: 20px;
     }





     .apps-btn {
        margin-left: 0 10px;
        border-radius: 3px;
    }


    .apps-btn i span:last-child {
        font-weight: 400;
        padding: 0px !important;
    }




    .primary-btn{
        margin: 10px;
        padding: 15px 30px;
        padding-bottom: 30px;
        background: #4285F4;
        color: #ffffff;
        border: none;
        text-transform: capitalize;
        display: inline-block;
        font-weight: 700;
        text-decoration: none;
        font-size: 18px;
    }




     .video-bg{
         background-image:url(../images/video-bg.jpg);
         background-size: cover;
         background-repeat: no-repeat;
         background-attachment: fixed;
         background-position: center;
     }

     .video-popup  {
        border: 1px dashed #ffffff;
        display: inline-block;
        width: 90px;
        height: 90px;
        color: #ffffff;
        line-height: 90px;
        font-size: 35px;
        border-radius: 100%;
        background: transparent;
        transition: all 0.3s ease-in-out;
     }
        
     .video-popup:focus{
         border: 2px solid #ffffff;;
     }



     .contact-bg{
         background-image: url(../images/contact-bg.jpg);
         background-size: cover;
         background-repeat: no-repeat;
         background-attachment: fixed;
         background-position: center;
     }

     .contact h3{
         font-size: 36px !important;
     }

     .contact{
        background: rgba(255, 255, 255, 0.85);
        border-radius: 2px;
        padding: 30px;
        overflow: hidden;
     }

     .contact .btn-primary{
         background-color: #4285F4;
         padding: 12px 20px !important;
         font-weight: 700;
         font-size: 22px;
        
     }

     footer .social-icons {
        margin-bottom: 30px;
    }

   

    .social-icons ul li a {
        display: inline-block;
        margin:5px;
        border: 1px dashed #ccc;
        line-height: 40px;
        width: 40px;
        height: 40px;
        text-align: center;
        font-size: 18px;
        
    }

        .social-icons ul li a:hover{
            transition:all 0.5s;
            color: #ffffff;
           
           
        }

        .social-icons .facebook a:hover{
            background-color:#4867AA ;
        }

        .social-icons .twitter a:hover{
            background-color:#1DA1F2 ;
        }

        .social-icons .google-plus a:hover{
            background-color:#DD4D42 ;
        }

        .social-icons .youtube a:hover{
            background-color:#DF2926 ;
        }

        .social-icons .linked-in a:hover{
            background-color:#007BB6 ;
        }

        .social-icons .instagram a:hover{
            background-color:#A823D1 ;
        }

        .social-icons .pinterest a:hover{
            background-color:#BD081C ;
        }

        .social-icons .dribbble a:hover{
            background-color:#EA4C89 ;
        }

        .social-icons .behance a:hover{
            background-color:#0B7CFF ;
        }

        .facebook a{
            color: #4867AA;
        }
        .twitter a {
            color: #1DA1F2;
        }
        .google-plus a {
            color: #DD4D42;
        }
        .youtube a {
            color: #DF2926;
        }
        .linked-in a {
            color: #007BB6;
        }
        .instagram a {
            color: #A823D1;
        }
        .pinterest a {
            color: #BD081C;
        }
        .dribbble a {
            color: #EA4C89;
        }
        .behance a {
            color: #0B7CFF;
        }







        /* Screen short */

    .shot-item {
           
    padding: 8px;
    border-radius: 4px;
    background: #DEEEFC;
        }
         
    .overlay {
    display: block;
    position: relative;
        }

    .overlay::after ,.overlay::before{
    position: absolute;
    content: "";
    height: 0;
    width: 100%;
    background: #222D39;
    opacity: 0.8;
    transition: all 0.5s ease-in-out;
    left: 0;
    z-index: 1;
        }

.overlay:hover::after, .overlay:hover::before{
     height: 50%;
        }

 .overlay:after {
    bottom: 0;
        }

.pe-7s-camera::before {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
    color:transparent;
   
   position: absolute;
    top:50%;
    left: 0;
    right: 0;
    margin: auto;
    transition: all 0.5s ;
    transform:rotate(90deg) ;
            }

.overlay:hover .pe-7s-camera::before{
    
    color: #fff;
    z-index: 2;
    transition: all 0.5s ;
    display: block;
    transform:rotate(0deg) ;
}
        

.owl-carousel .owl-nav button.owl-prev,.owl-carousel .owl-nav button.owl-next{
    background: none;
    color: #fff;
    border: none;
    padding: 0 !important;
    font: inherit;
}
.owl-carousel .owl-item img {
    display: block;
    width: auto;
}


/* LATEST BLOGS */


.blog-thumb-1{
    background-image:url(../images/blog-thumb-1.jpg);
}

.blog-thumb-2{
    background-image:url(../images/blog-thumb-2.jpg);
}

.blog-thumb-3{
    background-image:url(../images/blog-thumb-3.jpg);
}

.blog-thumb-4{
    background-image:url(../images/blog-thumb-4.jpg);
}

.blog-thumb-5{
    background-image:url(../images/blog-thumb-5.jpg);
}

.blog-thumb-6{
    background-image:url(../images/blog-thumb-6.jpg);
}
.bolg-tumb{
    height: 250px;
    margin-bottom: 15px;
    background-size: cover;
    background-position: center ;
    transition: all 0.5s ease-in-out !important;
   
}
 .thumb-overlay {
    width: 100%;
    height: 0%;
    background: #222D39;
    transition:all 0.5s ;
} 
.card:hover .thumb-overlay {
    opacity: 0.8;
    height: 100%;
}  

.blog-meta{

    position: absolute;
    padding: 15px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s;
    left:-100%;
	top:10px;
	width: 100%;
    
}

.card:hover .blog-meta{
    color: #ffffff !important;
    opacity: 0.8;
    left: 15px;
}

.card{
    overflow: hidden;
}

.post-contant h5{
    font-size:26px ;
    font-weight: 600;
}

.post-contant a{
    padding: 8px 14px;
    background-color: #050404;
    color: #ffffff;
}

.post-contant a:hover{
    background-color: #677294;
    color: #ffffff;
}
.all-post{
    padding: 15px 30px !important;
    background-color: #4285F4 !important;
    font-weight: 700 !important;
    color: #fff !important;
    margin-top: 30px !important;
}

/* app faq */
.accordion-button{
    background-color: #4285F4 !important;
    color: #fff !important;
    font-size: 18px !important;
}
